.wrapper .container .transmit-main {
  padding: 0.26666667rem;
}
.wrapper .container .transmit-main .textarea-box {
  font-size: 0;
}
.wrapper .container .transmit-main .textarea-box #textarea {
  border: none;
  outline: none;
  -webkit-appearance: none;
  resize: none;
  color: #333;
  font-size: 0.42666667rem;
  width: 100%;
  min-height: 2.66666667rem;
  line-height: 0.53333333rem;
  box-sizing: border-box;
}
.wrapper .container .transmit-main .textarea-box ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
.wrapper .container .transmit-main .textarea-box :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
.wrapper .container .transmit-main .textarea-box ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
.wrapper .container .transmit-main .textarea-box :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
