.wrapper .container .transmit-main {
  padding: 0.26666667rem;
}
.wrapper .container .transmit-main .textarea-box {
  font-size: 0;
  margin-top: 0.26666667rem;
}
.wrapper .container .transmit-main .textarea-box #textarea {
  border: none;
  outline: none;
  -webkit-appearance: none;
  resize: none;
  color: #333;
  font-size: 0.42666667rem;
  width: 100%;
  min-height: 2.66666667rem;
  line-height: 0.53333333rem;
  box-sizing: border-box;
}
.wrapper .container .transmit-main .textarea-box ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
.wrapper .container .transmit-main .textarea-box :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
.wrapper .container .transmit-main .textarea-box ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
.wrapper .container .transmit-main .textarea-box :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
.wrapper .container .transmit-main .info-box {
  height: 2.24rem;
  background-color: #f7f7f7;
}
.wrapper .container .transmit-main .info-box .left {
  width: 2.24rem;
  height: 100%;
}
.wrapper .container .transmit-main .info-box .left .goodImg {
  width: 100%;
  height: 100%;
}
.wrapper .container .transmit-main .info-box .right {
  width: 0;
  flex-grow: 1;
  align-items: center;
}
.wrapper .container .transmit-main .info-box .right .text-box {
  width: 100%;
  padding: 0 0.26666667rem;
}
.wrapper .container .transmit-main .info-box .right .text-box .title {
  line-height: 0.69333333rem;
  font-size: 0.42666667rem;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .container .transmit-main .info-box .right .text-box .desc {
  line-height: 0.48rem;
  font-size: 0.37333333rem;
  color: #939393;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
